<table class="table table-hover">
<h1>ランキング</h1>
<thead>
  <tr>
    <th>発売年度</th>
    <th>作品名</th>
  </tr>
</thead>

<tbody>
  <tr>
    <th>2002年8月</th>
    <th><%=link_to "東方紅魔郷", gameresults_path(title: "東方紅魔郷") %></th>

  </tr>
  <tr>
    <th>2003年8月</th>
    <th><%=link_to "東方妖々夢" ,gameresults_path(title: "東方妖々夢")%></th>
  </tr>
  <tr>
    <th>2004年8月</th>
    <th><%=link_to "東方永夜抄" ,gameresults_path(title: "東方永夜抄")%></th>
  </tr>
  <tr>
    <th>2007年8月</th>
    <th><%=link_to "東方風神録" ,gameresults_path(title: "東方風神録")%></th>
  </tr>
  <tr>
    <th>2008年8月</th>
    <th><%=link_to "東方地霊殿" ,gameresults_path(title: "東方地霊殿")%></th>
  </tr>
  <tr>
    <th>2009年8月</th>
    <th><%=link_to "東方星蓮船" ,gameresults_path(title: "東方星蓮船")%></th>
  </tr>
  <tr>
    <th>2011年8月</th>
    <th><%=link_to "東方神霊廟" ,gameresults_path(title: "東方神霊廟")%></th>
  </tr>
  <tr>
    <th>2013年8月</th>
    <th><%=link_to "東方輝針城" ,gameresults_path(title: "東方輝針城")%></th>
  </tr>
  <tr>
    <th>2015年8月</th>
    <th><%=link_to "東方紺珠伝" ,gameresults_path(title: "東方紺珠伝")%></th>
  </tr>
  <tr>
    <th>2017年8月</th>
    <th><%=link_to "東方天空璋" ,gameresults_path(title: "東方天空璋")%></th>
  </tr>
</tbody>

</table>
