<p id="notice"><%= notice %></p>

<h1>ユーザ一覧</h1>

<%= will_paginate%>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <ul class = "uses">
    <% @users.each do |user| %>
      <tr>
        <td><%= gravatar_for user%></td>
        <td><%= user.name%></td>
        <td><%= link_to 'スコア閲覧', user %></td>
        <%if current_user.admin?%>
        <td><%= link_to '削除', user, method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
        <%end%>
      </tr>
    </ul>
    <% end %>
  </tbody>
</table>

<%= will_paginate%>

<br>
