<h1>
  <p>プロフィール</p>
  <%= gravatar_for @user%>
  <p>ユーザーネーム：<%= @user.name%></p>
  <p>メールアドレス：<%= @user.email%></p>
  <p><%= link_to '編集', edit_user_path(@user) %></p>

  <p>コメント</p>
  <%= @user.comment%>
</h1>
